$theme-font: "Roboto Condensed", sans-serif
$nav-bg-color: rgba(51, 51, 51, 0.5)
$nav-border-color: #333
$nav-font-color: #FFF
$nav-hover-color: #CCC
$title-font: "Ubuntu", sans-serif
$nav-menu-bg-color: #555

$image-path: "/assets/images/"
$main-img: url($image-path&"main-img-sm.png")
$my-img: url($image-path&"Me.png")
$js-img: url($image-path&"javascripts.png")
$jquery-img: url($image-path&"jquery.png")
$java-img: url($image-path&"java.png")
$ruby-img: url($image-path&"ruby.png")
$rails-img: url($image-path&"rails.png")

body
  font-family: $theme-font

a
  &:hover
    text-decoration: none

