$theme-font: "Roboto Condensed", sans-serif
$nav-bg-color: rgba(51, 51, 51, 0.5)
$nav-border-color: #333
$nav-font-color: #FFF
$nav-hover-color: #CCC
$title-font: "Ubuntu", sans-serif
$nav-menu-bg-color: #555
$main-img: url("/assets/images/main-img-sm.png")
body
  font-family: $theme-font

a
  &:hover
    text-decoration: none

