@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Titillium+Web:600,400,700);
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
ul { list-style-type: none; }

/* Header */
.navbar {
  background-color: #333333;
  min-height: 70px;
}
.navbar-default .navbar-brand { color: #F2F2D9; }
.navbar-default .navbar-brand:hover { color: #F2F2D9; }
.navbar-brand {
  font-size: 33px;
  font-weight: 700;
  padding: 22px 5px;
}
.navbar-sub-brand {
  color: #AAAAAA;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 22px 20px;
}
@media (min-width: 768px) {
  .navbar-sub-brand {
    margin-left: -5px;
  }
}
@media (max-width: 480px) {
  .navbar-sub-brand {
    margin-left: -5px;
  }
}
.navbar-right { margin-top: 10px; }
.navbar-default .navbar-nav li a {
  color: #ADADAC;
  font-size: 17px;
}
.navbar-default .navbar-nav li a:hover {
  color: #F2F1DA;
  text-decoration: underline;
}

/* Contents */
.contents {
  margin-top: 100px;
  margin: 100px 0 auto 0;
}
h1 {
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
}
.contents p { font-family: 'Ubuntu', sans-serif; }
#about-me {
  text-align: center;
}
#about-me p {
  font-size: 18px;
  margin-bottom: 90px;
}
#about-me .img-circle {
  height: 200px;
  padding: 20px;
  width: 200px;
}
#projects {
  background-color: #f0f0f0;
  padding-bottom: 70px;
}
#projects ul {
  float: left;
  display: block;
}
#projects li {
  height: 420px;
}
#projects .img-rounded {
  float: left;
  height: 350px;
  padding: 20px;
  width: 350px;
}
@media (max-width: 768px) {
  #projects .img-rounded {
    clear: left;
    height: 0;
    padding: 0;
    width: 0;
  }
}
@media (max-width: 480px) {
  #projects .img-rounded {
    clear: left;
    height: 0;
    padding: 0;
    width: 0;
  }
}
.description {
  display: inline-block;
  position: relative;
  left: 350px;
  top: -330px;
  text-align: left;
  width: 800px;
}
@media (max-width: 768px) {
  .description {
    top: 0;
    left: 0;
    position: static;
    width: 600px;
  }
}
@media (max-width: 480px) {
  .description {
    top: 0;
    left: 0;
    position: static;
    width: 300px;
  }
}
.description h2 {
  font-size: 27px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .description h2 {
    font-size: 23px;
    font-weight: 700;
  }
}
.description h5 {
  background-color: #ADADAC;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  padding: 10px;
  width: 250px;
}
.description p {
  font-size: 16px;
}
@media (max-width: 768px) {
  .description p {
    width: 600px;
  }
}
@media (max-width: 480px) {
  .description p {
    position: static;
    width: 320px;
  }
}
.description img {
  height: 25px;
  width: 25px;
}
.description a {
  display: inline-block;
  cursor: pointer;
  height: 45px;
  padding: 10px 10px;
  width: 45px;
}
.glyphicon {
  color: black;
  font-size: 23px;
  top: 8px;
}

/* Footer */
.footer {
  background-color: #333333;
  width: 100%;
  min-height: 80px;
}
.github {
  display: inline-block;
  color: #ADADAC;
  float: left;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 45px;
}
.github:hover {
  color: #F2F1DA;
  text-decoration: none;
}
.github img {
  height: 35px;
  margin-right: 10px;
  width: 35px;
}
.bottom-navbar-right {
  display: block;
  float: right;
  margin-top: 15px;
  margin-right: -5px;
  padding: 15px 0px;
}
.bottom-navbar-right li a {
  background-color: #333333;
  color: #ADADAC;
  padding-bottom: 10px;
}
.bottom-navbar-right li a:hover { color: #F2F1DA; }
