section
  text-align: center
  margin: auto

article
  padding: 50px 20px

  h2
    font-weight: 700

.image
  background-repeat: no-repeat
  background-size: cover
  margin: auto

.main-img
  @extend .image
  background-image: $main-img-sm
  background-position: left center
  height: 500px

  @media only screen and (min-width: 768px)
    background-image: $main-img-lg
    height: 750px

#about-me
  .img-circle
    @extend .image
    background-image: $my-img
    background-position: left bottom
    height: 200px
    margin: 20px auto
    max-width: 200px

#skills
  .skills
    display: inline-block
    padding: 35px

    div
      @extend .image
      height: 80px
      width: 80px

    #js
      background-image: $js-img

    #jquery
      background-image: $jquery-img

    #java
      background-image: $java-img

    #ruby
      background-image: $ruby-img

    #rails
      background-image: $rails-img

#projects
  .projects
    padding: 50px 0

    h3
      margin: 20px auto

    .fa
      color: $icon-color
      padding: 10px 20px

      &:hover
        color: $icon-hover-color

    .img-rounded
      @extend .image
      background-position: left top
      height: 350px
      margin: 15px auto
      max-width: 350px

    #coffeeshop
      background-image: $project-coffeeshop-img

    #movie-ticket
      background-image: $project-movieTicket-img

    #payday
      background-image: $project-payday-img

    #prismbox
      background-image: $project-prismbox-img

    #food-map
      background-image: $project-foodmap-img

    #web-ttt
      background-image: $project-webttt-img

    #java-ttt
      background-image: $project-javattt-img

    h5
      background-color: $projects-skills-bg-color
      margin: 10px auto
      max-width: 350px
      padding: 10px 5px
