.image
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.main-img
  @extend .image
  background-image: $main-img
  height: 500px

#about-me
  max-width: 90%
  margin: auto

  .img-circle
    background-image: $my-img

